#namebanner {
    position: fixed;
    left: 0%;
    top: -27px;
    background-color: slateblue;
    color: white;
    width: 100%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    text-align: center;
}
ul {
    position: fixed;
    top: 45px;
    width: 100%;
    list-style-type: none;
    left: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}
li {
    float: left;
  }
li button {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 30px;
    width: 250px;
    border: lightgray;
}
#feed {
    background-color: lightgray;
}
#recommended {
    background-color: lightgray;
}
#search {
    background-color: lightgray;
}
#channels {
    background-color: lightgray;
}
#challenges {
    background-color: lightgray;
}
#myaccount {
    background-color: whitesmoke;
}
#feed:hover, #recommended:hover, #search:hover, #channels:hover, #challenges:hover, #myaccount:hover {
    background-color: grey;
    color: white;
}
#body {
    background-color: whitesmoke;
}
#myusername {
    position: relative;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bold;
    top: 65px;
    left: 30px;
    text-align: center;
}
#myaveragerate {
    position: relative;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    top: 30px;
    color: black;
    left: 30px;
    text-align: center;
}
#createpost {
    position: relative;
    top: 30px;
    width: 22%;
    left: 77%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: slateblue;
    border: 2px solid black;
}
#createpost:hover {
    background-color: grey;
}